.menu-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #C600CA;
    color: white;
    height: 55px;
    padding-left: 25px;
    padding-right: 25px;
}

.logo-container{
    width: 125px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}