
.create-movie-card {
    border: 1px solid rgba(0, 0, 0, .35);
    color: black;
    text-decoration: none;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 272px;
    background-color: #D9D9D9;
    cursor: pointer;
    user-select: none;
    border-radius: 3px;
    transition: all .3s;
}

.create-movie-card h2 {
    margin-left: -25px;
}

.create-movie-card:hover {
    -webkit-box-shadow: 0px 20px 25px -15px #000000;
    box-shadow: 0px 20px 25px -15px #000000;
}