.card-container{
    display: flex;
    justify-content: space-between;
    border: 1px solid #00808033;
    padding: 10px;
    border-radius: 3px;
    height: 250px;
}

.movie-cover{
    border-radius: 3px;
    width: 150px;
    object-fit: cover;
}

.movie-details{
    width: 100%;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.movie-data{
    display: flex;
    flex-direction: column;
}

.buy-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    background-color: #FFE600;
    font-family: ubuntu;
    font-size: 18px;
    font-weight: bold;
    border-radius: 3px;
    outline: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: black;
}